.dashboard--dashboard__container {
    margin-left: 117px;
    display: flex;
}

.dashboard--indicators__container {
    margin-top: 77px;
}

.dashboard--title {
    margin-left: 184px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
    color: #000000;
    margin-top: 68px;
}

.dashboard--title__name {
    color: #FF0101;
}

.dashboard--subtitle {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 41px;
    margin-left: 184px;
}

.barchart--container {
    margin-bottom: 30px;
    background-color: #fbfbfb;
    padding-bottom: 23px;
}

.barchart--container__smallcharts {
    margin: 0;
}

.dashboard--barchart__container {
    margin: 77px 31px 28px 69px;
    width: 835px;
}

.barchart--smallcharts__containers {
    height: 263px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    margin-top: 28px;
}

.dashboard--aerachart__container {
    width: 258px;
    height: 263px;
    background-color: #FF0000;
    border-radius: 5px;
    margin-right: 30px;
    position: relative;
}

.dashboard--radarchart__container {
    width: 258px;
    height: 263px;
    background-color: #282D30;
    border-radius: 5px;
    margin-right: 30px;
}

.dashboard--radialchart__container {
    position: relative;
    width: 258px;
    height: 263px;
    background-color: #FBFBFB;
    border-radius: 5px;
}

.dashboard--aerachart__title {
    position: absolute;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
    top: 20px;
    left: 34px;
    width: 147px;
}

.dashboard--radialchart__round {
    position: absolute;
    border-radius: 100px;
    background-color: #ffffff;
    width: 175px;
    height: 175px;
    top: 39px;
    left: 39px;
}