.dashboard--graph__container {
    margin-left: 117px;
}

.dashboard--title {
    margin-left: 224px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
    color: #000000;
    margin-top: 68px;
}

.dashboard--title__name {
    color: #FF0101;
}

.dashboard--subtitle {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 41px;
    margin-left: 224px;
}