.sidebar--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    width: 117px;
    height: 100%;
    position: fixed;
}

.sidebar--icons {
    text-align: center;
    margin-top: 256px;
}

.sidebar--icon {
    width: 64px;
    height: 64px;
    padding: 10px 0;
}

.sidebar--copyright {
    transform: rotate(-90deg);
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    width: 150px;
    margin-top: 164px;
}